.header {
  width: 100%;
  background-image: url(https://res.cloudinary.com/dg5wrkfe7/image/upload/v1639140004/Screenshot_2021-12-10_133950_oiwt5v.png);
    background-color: #cccccc; /* Used if the image is unavailable */
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.hero {
  margin-top: calc(50vh - 46px);
}

.hero-text {
  background: rgba(0, 0, 0, 0.75);
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	position: fixed;
	background: rgba(10.674547047249126,11.504849714307541,22.536013719512194, 1);
}

canvas { width: 100%; height: 100%; outline: none; }
#container { width: 100%; height: 100%; position: relative; }

.spline-watermark {
	position: absolute;
	bottom: 16px;
	right: 16px;
	width: 32px;
	height: 32px;
	z-index: 2;
}
.spline-watermark:hover {
	opacity: 0.8;
}
.spline-watermark img {
	display: block;
	width: 100%;
	height: 100%;
}
				
